<!-- ===== service-area start ===== -->
<section id="services" class="services-area services-eight">
    <!--======  Start Section Title Five ======-->
    <div class="section-title-five">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="content">
              <h6>Services</h6>
              <h2 class="fw-bold">Our Best Services</h2>
              <p>
                Unlock your dog's full potential and enhance your bond with customized, results-driven obedience and behavior modification training.
              </p>
            </div>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <!--======  End Section Title Five ======-->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <div class="service-icon">
              <i class="lni lni-consulting"></i>
            </div>
            <div class="service-content">
              <h4>One on One Sessions</h4>
              <p>
                Unlock your dog's full potential with personalized one-on-one training sessions. With my customized approach, 
                we'll work together to address specific behavioral issues and reinforce positive habits, resulting in a happier, 
                healthier, and more obedient companion.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <div class="service-icon">
              <i class="lni lni-graduation"></i>
            </div>
            <div class="service-content">
              <h4>Obedience Training</h4>
              <p>
                Transform your furry friend into a well-behaved companion with our comprehensive dog obedience training. 
                With customized training programs and positive reinforcement techniques, 
                we'll help your dog learn important commands and improve its behavior for a happier, healthier, and more obedient life.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <div class="service-icon">
               <i class="lni lni-handshake"></i>
            </div>
            <div class="service-content">
              <h4>Socialization Training</h4>
              <p>
                Give your furry friend the gift of confidence and well-adjustment with our dog socialization training. 
                Our customized training programs and positive reinforcement techniques will expose your dog to different people, 
                environments, and stimuli, helping it become a well-rounded and social companion.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ===== service-area end ===== -->